.title {
  margin-bottom: 5px;
  text-align: center;
  font-weight: 700;
  font-size: 60px;
  line-height: 82px;
  color: #E59C9C;
}

.subtitle {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: #ffffff;
}
