.about-page {
  display: flex;
  justify-content: space-between;

  &__img {
    width: 409px;
    object-fit: cover;
  }

  &__wrapper {
    margin-left: 70px;
  }

  &__title {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
    color: #333333;
  }

  &__text {
    font-size: 15px;
    line-height: 140%;
  }
}